@charset "UTF-8";

.main_seaerch_box{
    width: 350px;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 16px;
    text-align: center;
}

/* Table header styling */
.table thead tr {
    color: #333;
}

#tbl_header{
	width: 100%;
	background-color: lightgray;
}

.table thead th {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

/* Table body styling */
.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table tbody td {
    line-height: 30px;
}


.delete-btn{
    width: 70px; height: 30px;
    border: 1px solid gainsboro;
    background-color: #fff;
    color: #999;
}

.delete-btn:hover{
    background-color: #42d056;
    transition-duration: 0.5s;
    color: #fff;
}

