@charset "UTF-8";

#detail_wrap{
    width: 100%;
    border-top: 2px solid lightgray;
}

#detail_head{
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#detail_head>li{
    text-align: center;
    line-height: 90px;
    float: left;
}

#title{
    font: 900 20px/30px 'Pretendard-Regular';
    margin: 10px 0;
}

#detail_info{
    display: flex;
    flex-direction: row;
}
#detail_info>li:nth-child(2){
    margin: 0 20px;
}
#category{
    color: #42d056;
}

#repBtn{
	margin-left: 10px;
}

#content{
    width: 100%;
    height: 500px;
    padding: 20px;
   	border-top: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
}

#btn_commu_report{
    border: 0;
    background-color: #fff;
}

#editBtn, #deleteBtn{
    border: 1px solid gainsboro;
    width: 60px; height: 40px;
    background-color: #fff;
    color: #666;
    float: right;
    position: relative;
    top: -50px;
}
#deleteBtn{
	margin-right: 5px;
}
.replyForm{
    width: 1200px;
    margin: 20px auto;
}
#input_reply_content{
    width: 95%; height: 40px;
    border: 1px solid lightgray;
}

#btn_postComment{
    border: 1px solid #6c757d;
    width: 60px; height: 40px;
    background-color: #6c757d;
    color: #fff;
    float: right;
}

#data_reply_detail{
    width: 100%;
    background-color: aliceblue;
}

.replyItem{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(232, 236, 240);
    box-sizing: border-box;
}

#reply_info{
    width: 500px;
    height: 30px;
}
#reply_info>li{
    margin-right: 10px;
    float: left;
}
#username, #r_username{
    font-weight: 700;
}
#date ,#r_date{
    font-size: 13px;
    line-height: 25px;
    color: darkgray;
}

#reply_info li input{
    float: right;
}

#reply_content{
    width: 300px;
}

input:focus {outline:none;}
input[type="text"]{
    padding-left: 10px;
}

.btn_reply_report{
    border: none;
    background-color: aliceblue;
}

.btn_reply_edit, .btn_reply_delete{
    border: 1px solid gainsboro;
    width: 50px; height: 25px;
    font: 400 15px/25px 'Pretendard-Regular';
    background-color: #fff;
    color: #999;
}

.edit_wrap{
    width: 100%;
    position: relative;
    top: -20px; left: 0;
}

.editContent{
    width: 90%; height: 80px;
    border: 1px solid lightgray;
}
.editSubmit{
    width: 10%; height: 80px;
    font: 400 15px/40px 'Pretendard-Regular';
    border: 1px solid #a9b5be;
    background-color: #a9b5be;
    color: #fff;
    float: right;
}