p{
    font: 600 15px/25px 'Pretendard-Regular';
    margin: 10px;
    color: dimgray;
}

body{
    background-color: #f3f5f7;

}


.dash_title{
    font: 800 18px/28px 'Pretendard-Regular';
    margin: 20px;
}

.dash_li{
    background-color: #fff;
    border-radius: 5%;
}

#dash_ul1, #dash_ul2{
    width: 100%;
}

#dash_ul2{
	margin-bottom: 10px;
}

.li1{
    width: 31%;
    float: left;
    margin: 0 15px;
}

.graph_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 10px;
}

.li2{
    width: 47%;
    float: left;
    margin: 0 18px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

/* Table header styling */
.table thead tr {
    color: #333;
}

#tbl_header{
	width: 100%;
	background-color: lightgray;
}

.table thead th {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

/* Table body styling */
.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
