#page_title{
    font: 900 30px/60px 'Pretendard-Regular';
    margin: 20px;
}

.accordion-button{
    font-weight: 900;
}

.btn-sm{
    border: 1px solid gainsboro;
    background-color: gainsboro;
    color: #666;
    width: 80px;
    position: relative;
    left: 10px;
    margin: 10px 0;
}

.collapse{
    background-color: #42d05528;
}

.btn-onepick {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #42d056 !important;
    --bs-btn-border-color: #42d056 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #26af3a;
    --bs-btn-hover-border-color: #26af3a !important;
    --bs-btn-focus-shadow-rgb: 66, 208, 86;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #26af3a;
    --bs-btn-active-border-color: #26af3a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #42d056;
    --bs-btn-disabled-border-color: #42d056;
	margin-top: 20px;
	float: right;
}