@charset "UTF-8";

.recruit_box .companyName{
	
}
.recruit_box .recruitTitle{
	
}
.recruit_box .recruitInfo{
	
}
.recruit_box  .logo img {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #42d056; 
 }