
/* Form title */
.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

/* Form container styling */
.recruit_form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Section titles within the form */
.section_title {
    font-weight: bold;
    color: #495057;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Input and select styles */
input[type="text"],
input[type="date"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    color: #495057;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

textarea {
    height: 150px; 
    resize: none; /* Disable resizing */
}

/* Additional button for adding skills */
.add-skill-btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight:bold;
}

.add-skill-btn:hover {
	color: #42d056;
}

/* Dropdown styling */
select {
    height: auto;
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="#495057" d="M2 0L0 2h4L2 0zM2 5l2-2H0l2 2z"/></svg>') no-repeat right 10px center;
    background-size: 12px 12px;
}

/* File input styling */
input[type="file"] {
    border: 1px solid #ced4da;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 4px;
}
.sector1, .sector2, .region1, .region2, .position1, .position2, #regionBtn, #positionBtn, #sectorBtn{
	margin:10px;
	
}
/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .recruit_form {
        padding: 20px;
    }
}