@charset "UTF-8";

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 16px;
    text-align: center;
}

/* Table header styling */
.table thead tr {
    color: #333;
}

#tbl_header{
	width: 100%;
	background-color: lightgray;
}

.table thead th {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

/* Table body styling */
.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    opacity: 50% !important;
    cursor: pointer;
}

.table tbody td {
    line-height: 30px;
}

.category{
    color: #42d056 !important;
}

.reporter{
	color: darkgray !important;
}