@charset "UTF-8";

/*공용 css*/
.min-h-100{
	min-height : 100vh
}
.btn-outline-onepick {
    --bs-btn-color: #42d056 !important;
    --bs-btn-border-color: #42d056 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #42d056;
    --bs-btn-hover-border-color: #42d056 !important;
    --bs-btn-focus-shadow-rgb: 66, 208, 86;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #42d056;
    --bs-btn-active-border-color: #42d056;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #42d056;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #42d056;
    --bs-gradient: none;
}
.btn-onepick {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #42d056 !important;
    --bs-btn-border-color: #42d056 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #26af3a;
    --bs-btn-hover-border-color: #26af3a !important;
    --bs-btn-focus-shadow-rgb: 66, 208, 86;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #26af3a;
    --bs-btn-active-border-color: #26af3a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #42d056;
    --bs-btn-disabled-border-color: #42d056;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:#333 !important;
    text-decoration: none;
    background: 0 0;
    border: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #333 !important;
    font-weight: bold;
    border-radius : 0;
    background-color: #fff !important;
    border-bottom: 3px solid #42d056;
}

/*header css*/
.header_logo_size{
	display:inline-block;
	width: 150px;
}
