@charset "UTF-8";

.profileImg_box img {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #007bff ; 
}

 .resume_seaerch_box{
 	width:300px;
 }